<br>
<span class="form">
  <%= form_for Workout.new do |f| %>
    <%= f.text_field :area_worked_out, :placeholder => 'What area did you workout?' %><br><br>
    <%= f.text_field :workout_length, :placeholder => 'Workout Length in Minutes?' %><br><br>
    <%= f.text_field :mood, :placeholder => 'Current Mood?' %><br><br>
    <%= f.text_area :notes, :placeholder => 'Add notes about your workout...' %><br><br>
    <%= f.submit %>
  <% end %>
</span>
