<%= form_for(@workout) do |f| %>
  <span class="form-labels">Area Worked Out: </span><%= f.text_area :area_worked_out %><br>
  Workout Length: <%= f.text_area :workout_length %><br>
  Mood: <%= f.text_area :mood %><br>
  Notes: <%= f.text_area :notes %>
  <%= f.submit %>
<% end %>
