<h1 class="make-white">Edit Workout:</h1>
   <%= form_for(@workout) do |f| %>
      <%= f.text_field :area_worked_out, :placeholder => 'Area Worked Out' %><br><br>
      <%= f.text_field :workout_length, :placeholder => 'Length of Workout' %><br><br>
      <%= f.text_field :mood, :placeholder => 'What is your mood?' %><br><br>
      <%= f.text_area :notes, :placeholder => 'Add notes about the workout...' %><br><br>
      <%= f.submit "Save changes" %>
    <% end %>

<br><br>
<%= link_to 'Cancel', @workout %>
<%= link_to 'Back to workout list', root_path %>
