<h1><%= localize(@workout.created_at, :format => :long) %></h1>
Area Worked Out: <%= @workout.area_worked_out %><br>
Workout Length: <%= @workout.workout_length %><br>
Workout Mood: <%= @workout.mood %><br>
Workout Notes: <%= @workout.notes %><br>