<!DOCTYPE html>
<html>
<head>
  <title>WorkoutLog - by Mark Howard</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1>Workout Log <span class="blue">by @iheartkode</span></h1>
  </header>
  <div class="container">
    <div class="content">
      <span id="new-workout" class="new-workout"><%= link_to 'New Workout', '#' %></span>
      <div id="new">
        <%= render 'form' %>
      </div>
      <br><br>
      <% flash.each do |key, value| %>
        <div class="alert"<%= key %>"><%= value %></div>
      <% end %>
      <%= yield %>
    </div>
  </div>
</body>
</html>
