<!DOCTYPE html>
<html>
<head>
  <title>WorkoutLog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1>Workout Log</h1>
  </header>
  <div class="container">
    <div class="content">
      <span class="new-workout"><%= link_to 'New Workout', new_workout_path  %></span>
      <br><br>
      <% flash.each do |key, value| %>
        <div class="alert"<%= key %>"><%= value %></div>
      <% end %>
      <%= yield %>
    </div>
  </div>
</body>
</html>
