<!DOCTYPE html>
<html>
<head>
  <title>WorkoutLog - by Mark Howard</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1>
      <%= link_to "Workout Log", root_path%>
      <span class="blue">by @iheartkode
      </span>
    </h1>
  </header>
  <!-- Begin Container -->
  <div class="container">
    <!-- Begin Content -->
    <div class="content">
      <div class="user-info">
        <% if user_signed_in? %>
          Logged in as <strong><%= current_user.email %></strong>.
          <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
          <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %> <br><br>
          <span id="new-workout" class="new-workout"><%= link_to 'New Workout', new_workout_path %></span>
        <% else %>
          <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
          <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %> <br><br>
          <h1 class="make-white">Welcome to my Workout Log</h1>
          <p>
            I created this app for personal use to track my workouts.
          </p>
       <% end %>
     </div>
      <br><br>
      <!-- Flash notices -->
      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
        <% end %>

      <%= yield %>
    </div> <!-- end content -->
  </div> <!-- end Container -->
</body>
</html>
